NEXT_PUBLIC_SITE_URL=https://merakiarts53.com
NEXT_PUBLIC_TARGET_LOCATIONS=Pune,Chennai,India shipping,Dubai,Online
NEXT_PUBLIC_GOOGLE_TAG_ID=
NEXT_PUBLIC_GOOGLE_ADS_FORM_CONVERSION=
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_CONVERSION=
NEXT_PUBLIC_GOOGLE_ADS_INSTAGRAM_CONVERSION=
